################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
*.suo
/.vs/Disruptor.ReadModel.Tests/v15
/Disruptor.ReadModel.Tests/bin/Debug
/Disruptor.ReadModel.Tests/obj/Debug
/Disruptor.ReadModel.Tests/obj/Debug
/Disruptor.ReadModel.Host/bin/Debug
/Disruptor.ReadModel.Host/obj/Debug
/packages
