################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Disruptor.ReadModel.Tests/bin/Debug
